{% extends "base-alt.html" %}
{% load static %}
{% block content %}
<!-- Content section Start -->
<section class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <a href="{% url 'home' %}" class=""><img src="{% static 'images/site-logo.png' %}"
                        style="margin: 0 auto; display: block;" width='300' alt=""></a>
                <h3 class="text-center">Você tem uma nova senha.</h3>
                <h5 class="text-center">
                    Você pode prosseguir e <a href="{% url 'login' %}">faze o Login</a> agora
                </h5>
            </div>
            
        </div>
    </div>
</section>
<!-- Content section End -->
{% endblock content %}