{% extends "base.html" %}
{% load static %}
{% block content %}
 
<!-- Page Header Start -->
<div class="page-header" style="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Pergunta encaminhada<br></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Start Content -->
<div id="content" class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
       <div class="col-lg-12 col-md-12 col-xs-12">
          <p>Sua mensagem será transmitida ao vendedor</p>
          <p>Um alerta será enviado para seu email quando houver uma resposta.</p>
          <br>
          <a href="{% url 'home' %}" class="btn btn-common log-btn">Retornar para  página inicial</a>
        </div>
    </div>
  </div>
</div>
<!-- End Content -->

{% endblock content %}