{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Category Archive Section Start -->
<section class="featured section-padding">
  <div class="container">
    <br>
    <h1 class="section-title">Classificados na categoria <br> <span class="focus-keyword">{{ category.category_name }}</span> </h1>
    <div class="row">
      {% if ads_by_category %}
        {% for ads in ads_by_category %}
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
          <div class="featured-box w3-hover-shadow">
            <figure>
              <a href="{% url 'ads-detail' ads.id %}">
                  {% for img in ads.adsimages_set.all %}
                  {% if forloop.first %}
                      <img class="img-fluid" src="{{ img.image.url }}" alt="">
                  {% endif %}
                  {% endfor %}
              </a>
            </figure>
            <div class="feature-content">
              <h4><a href="{% url 'ads-detail' ads.id %}">{{ ads.title}}</a></h4>
              <span>Postado: {{ ads.date_created}}</span>
              <ul class=>
                <li>
                 <i class="lni-map-marker"></i>&nbsp;{{ ads.state}}</a>
                </li>
                <li>
                  <i class="lni-user"></i>&nbsp;{{ ads.author }}</a>
                </li>
                <li>
                  <i class="lni-package"></i>&nbsp;{{ ads.condition }}</a>
                </li>
              </ul>
              <div class="listing-bottom">
                <h3 class="price float-left">R$ {{ ads.price }}</h3>
                <p class="btn-verified float-right"><i class="lni-check-box"></i> Anúncio Verificado</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <div class="container">
          <div class="col-lg-12">
            <h4 class="text-center">Não encotramos anúncios nessa categoria.</h4>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>
<!-- Category Archive Section End -->


{% endblock content %}