{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header" style="background: url('assets/img/banner1.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Entre em contato</h2>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Start Contact Us Section -->
<section id="content" class="section-padding">
  <div class="container">
    <div class="row">
      
      <div class="offset-md-3 col-md-6">
        <h2 class="contact-title">
          Fale conosco
        </h2>
        <div class="information">
          <p>Gostríamos de ouvir sugestões. Etamos abertos para receber comentários.</p>
          <div class="contact-datails">
            <div class="icon">
              <i class="lni-map-marker icon-radius"></i>
            </div>
            <div class="info">
              <h3>Endereço</h3>
              <span class="detail">Rua da Pedreira Antiga, 2333. 30009-098 - Belo Horizonte - MG</span>
            </div>
          </div>
          <div class="contact-datails">
            <div class="icon">
              <i class="lni-pointer icon-radius"></i>
            </div>
            <div class="info">
              <h3>Quer falar conosco?</h3>
              <span class="detail">info@baiasite.com</span>
            </div>
          </div>
          
          <div class="contact-datails">
            <div class="icon">
              <i class="lni-phone icon-radius"></i>
            </div>
            <div class="info">
              <h3>Telefone</h3>
              <span class="detail"> +55(31) 99883-8241</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Us Section  -->
{% endblock content %}