{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header" style="background: url( 'img/banner1.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">FAQ</h2>
          <!-- <ol class="breadcrumb">
            <li><a href="#">Home /</a></li>
            <li class="current">FAQ</li>
          </ol> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- FAQ Start -->
<div class="faq section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="head-faq text-center">
          <h2 class="section-title">FAQ - Perguntas Frequentes</h2>
        </div>
        <!-- accordion start -->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Como postar um anúncio?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse show">
              <div class="panel-body">
                <p>Para postar um anúncio, é necessário se inscrever no site e ter a confirmação do cadastro.
                  Depois, entre no site (login) com suas credenciais e clique "Postar um anúncio"
                  Preencher todos os campos e clicar em "Postar". O anúncio segue para a aprovação e em até 48h estará publicado. </p>
                <br>
                <p>

                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  Como resolvo minhas dúvidas se não encontrar as respostas aqui?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Clique em "Fale Conosco", na homepage.
                  Envie sua dúvida ou comentário com o maior detalhament opossível.
                  Em geral, em até 48h seu contato é respondido.
                </p>
                <br>
                <p>. </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  Como apagar um anúncio publicado?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                   ...
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                  Posso devolver um produto que comprei??
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  ...
                </p>
                <br>
                <p>
                  ...
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                  Qual é o prazo de entrega?
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  ...
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                  Quais os métodos de entrega disponíveis?
                </a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  ...
                </p>
                <br>
                <p>
                    ...
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- accordion End -->
      </div>
    </div>
  </div>
</div>
<!-- End Content -->

{% endblock content %}